main.dashboard {
    text-align: center;
    display: flex;
    width: 100vw;
    height: 100vh;

    background-image: url('../../../assets/images/login-background.jpg');
    background-size: cover;
}